---
import { Image } from "astro:assets";
import bgImage from "../../assets/BG2 3.png";
import kisaanStoriesImage from "../../assets/kissan_story.png";
import { Swiper, SwiperWrapper, SwiperSlide, SwiperButtonPrev, SwiperButtonNext } from "astro-swiper";
import { ChevronLeftIcon, ChevronRightIcon } from "@lucide/astro";

const banners = [
	{ image: kisaanStoriesImage, alt: "Farmers in our supply network", href: "#", title: "Kisaan Stories" },
	{ image: kisaanStoriesImage, alt: "Farmers in our supply network", href: "#", title: "Kisaan Stories" },
	{ image: kisaanStoriesImage, alt: "Farmers in our supply network", href: "#", title: "Kisaan Stories" },
];
---

<section class='relative bg-cream min-h-[400px] overflow-hidden bg-section py-12 md:py-[150px]'>
	<div class='pointer-events-none absolute right-0 top-0 h-full w-full opacity-[0.05]' aria-hidden='true'>
		<Image src={bgImage} alt='' class='h-full w-full object-cover object-right' />
	</div>

	<div class='container relative z-10 mx-auto'>
		<div class='flex items-center flex-col md:flex-row justify-between'>
			<div class='shrink-0 text-center md:text-center'>
				<h2 class='text-heading-section'>Beyond <br class='hidden md:block' /> Our Products</h2>
			</div>

			<div class='kisaan-carousel w-full md:!w-[75%]'>
				<Swiper
					uniqueClass='kisaan-swiper'
					useCustomElement={false}
					addDefaultClass={false}
					options={{
						slidesPerView: 1,
						slidesPerGroup: 1,
						spaceBetween: 24,
						loop: true,
						navigation: {
							nextEl: ".kisaan-swiper .swiper-button-next",
							prevEl: ".kisaan-swiper .swiper-button-prev",
						},
						autoplay: { delay: 4000, disableOnInteraction: false },
					}}>
					<SwiperWrapper>
						{
							banners.map((banner) => (
								<SwiperSlide>
									<a href={banner.href} class='kisaan-card'>
										<Image src={banner.image} alt={banner.alt} class='w-full h-full object-cover' />
									</a>
								</SwiperSlide>
							))
						}
					</SwiperWrapper>
					<SwiperButtonPrev addDefaultClass={true} class='!text-black'>
						<ChevronLeftIcon class='w-6 h-6' />
					</SwiperButtonPrev>
					<SwiperButtonNext addDefaultClass={true} class='!text-black'>
						<ChevronRightIcon class='w-6 h-6' />
					</SwiperButtonNext>
				</Swiper>
			</div>
		</div>
	</div>
</section>

<style>
	.kisaan-carousel :global(.kisaan-swiper) {
		overflow: hidden;
		position: relative;
		width: 100%;
	}
	.kisaan-carousel :global(.kisaan-swiper .swiper-wrapper) {
		display: flex;
	}
	.kisaan-carousel :global(.kisaan-swiper .swiper-slide) {
		flex-shrink: 0;
		width: 100%;
		height: auto;
	}

	.kisaan-card {
		display: block;
		border-radius: var(--radius-card);
		overflow: hidden;
		box-shadow: 0 4px 20px rgb(0 0 0 / 0.12);
		background: #fff;
	}
	.kisaan-card-image {
		width: 100%;
		overflow: hidden;
	}
	.kisaan-card-image img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		display: block;
	}
	.kisaan-card-footer {
		position: relative;
		background: #ffa100;
		padding: 28px 24px 20px;
		text-align: center;
	}
	.kisaan-wave {
		position: absolute;
		top: -20px;
		left: 0;
		width: 100%;
		height: 24px;
	}
	.kisaan-card-title {
		font-family: "Oswald", sans-serif;
		font-size: 28px;
		line-height: 1.2;
		color: #013049;
	}

	/* Navigation arrows */
	.kisaan-carousel :global(.swiper-button-prev),
	.kisaan-carousel :global(.swiper-button-next) {
		color: #8a8a8a;
		width: 32px;
		height: 32px;
		top: 50%;
		margin-top: -16px;
	}
	.kisaan-carousel :global(.swiper-button-prev) {
		left: 0;
	}
	.kisaan-carousel :global(.swiper-button-next) {
		right: 0;
	}
	.kisaan-carousel :global(.swiper-button-prev::after),
	.kisaan-carousel :global(.swiper-button-next::after) {
		font-size: 20px;
	}
	.kisaan-carousel :global(.swiper-button-disabled) {
		opacity: 0.3;
	}
</style>
